.priceDisplay {float: right;}
.productItem {border-top: 1px dotted #CCC;}
.ULgroups li {font-size: 1em!important;}
.productLink {font-weight: bold; display: block;}
.moreInfoHolder .productImage {width: auto; float: right;}

